.web_dialog
{
   display: none;
   position: fixed;
   width: 380px;
   height: 200px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid black;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}

#about_table {
   width: 100%;
   border: 0px;
}

#about_table_header{
   background-color: #f4b41a;
}

