#canvas{
    left: 500px;
    top: 15%;
    bottom:30%;
    width: 80%;
    height: 80%;
    position: fixed;
    background-color: black;

}



#gameInfoTable, #SettingScreenTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: #f4b41a;

  }

  #gameInfoTable{
    position: relative;
    left: 1%;
  }
  #SettingScreenTable{
    position: fixed;
    z-index: 102;
    left: 80%;
    top: 15%;
  }
  
  #gameInfoTable td, #gameInfoTable th, #SettingScreenTable td, #SettingScreenTable th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-weight: bold;
  }
  
  #gameInfoTable tr, #SettingScreenTable tr:nth-child{background-color: white;}
  
  #gameInfoTable tr:hover {background-color: goldenrod;}
  
  #gameInfoTable th, #SettingScreenTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    /* color: white; */
    color: #f4b41a;
  }


  #newGame, #pause_play_Btn , #mute_Btn   {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: #f4b41a;
    /* background-color: transparent; */
    background-color: black;
    border-color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    /* margin-top: 40px; */
    letter-spacing: 4px
  }
  
  #newGame:hover, #pause_play_Btn:hover , #mute_Btn:hover{
    /* background: #3e424b ;
    color: white; */
    border-radius: 5px;
    box-shadow: 0 0 5px #3e424b ,
                0 0 25px #3e424b ,
                0 0 50px #3e424b ,
                0 0 100px #3e424b ;
  }

  #endToSettings, #endNewGame{
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color: #f4b41a;
    background-color: black;
    border-color: goldenrod;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    width: 150px;
    height: 80px;
  }
  
  #endToSettings:hover, #endNewGame:hover {
    background: #f4b41a;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4b41a,
                0 0 25px #f4b41a,
                0 0 50px #f4b41a,
                0 0 100px #f4b41a;
  }
 
  #endGame
{
   display: none;
   position: fixed;
   width: 380px;
   height: 300px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #fffde7;
   border: 2px solid black;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}


  #gameOverTable {
    width: 100%;
    border: 0px;
    background-color: #fffde7;
    text-align: center;
 }
 
 #GameOverTableHeader {
    background-color: #f4b41a;
    text-align: center;
 }

 #endheaderText{
     font-size: larger;
 }



 