ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f4b41a;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    color: #f4b41a
  }

  li p {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li p:hover {
    background-color: #111;
  }

 footer{
   position: fixed;
   left: 0px;
   bottom: 0px;
   width: 100%;
   text-align: center;
   color:#f4b41a;
 }

 #titleGame {
   color:#f4b41a;
 }

 #logo {
   position: absolute;
   right: 20px;
   width: 150px;
   height:48px;
 }